@model List<Group20_IoT.Models.ViewModel.StockViewModel>


<table class="table">
    <tr>
        <th>
            Stock Code
        </th>
        <th>
            Name
        </th>
        <th>
            Total Quantity
        </th>
        <th>
            Quantity On Loan
        </th>
        <th>
            Room
        </th>
        <th>
            Storage Area
        </th>
        <th>
            Loanable
        </th>
        <th></th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.StockCode
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.TotalQuantity
                </td>
                <td>
                    @item.QuantityOnLoan
                </td>
                <td>
                    @item.Room
                </td>
                <td>
                    @item.StorageArea
                </td>
                <td>
                    @item.Loanable
                </td>
                <td>
                    <img src="~/Content/Images/@item.Image" alt="@item.Image" style="max-height:100px;max-width:100px" />
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="7" style="text-align:center;font-size:16px"><strong>Sorry, no stock available</strong></td>
        </tr>
    }
    </table>
