@model List<Group20_IoT.Models.ViewModel.StockViewModel>


<div class="card-header">
</div>
<div class="card-body">
    <div class="row">
        @foreach (var item in Model)
        {
            
                <div class="card">
                    <div style="text-align:center"><img src="~/Content/Images/@item.Image" class="card-img-top" alt="@item.Image" style="max-height: 150px; max-width: 150px;"></div>
                    
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.StockCode</p>
                        <p class="card-text">@item.Description</p>
                        <p class="card-text">@item.UnitPrice</p>
                        <p class="card-text"><strong>Total Quantity:</strong> @item.TotalQuantity</p>
                        <p class="card-text"><strong>Quantity On Loan:</strong> @item.QuantityOnLoan</p>
                        <p class="card-text"><strong>Located at:</strong> @item.Room~@item.StorageArea</p>
                        <p class="card-text"><strong>Available for Loan:</strong> @item.Loanable</p>
                        <p class="card-text"><strong>Created:</strong> @item.CreatedBy on @item.CreatedOn</p>
                        @Html.ActionLink("Edit Stock Details", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            
        }
    </div>
</div>
