<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | IoT Management System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/alert-toast.css" rel="stylesheet" />
    <script src="~/Scripts/alertdialog.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- Bootstrap CSS and JavaScript -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://kit.fontawesome.com/ca5a92997d.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <style>
        .required-star::after {
            content: " *"; /* Add a red asterisk before the label text */
            color: red;
        }

        * {
            margin: 0 !important;
            padding: 0 !important;
            scroll-behavior: smooth;
        }

        body {
            margin: 0;
            padding: 0;
            flex-direction: column;
            text-transform: uppercase;
            font-family: "Poppins",sans-serif;
            background: linear-gradient(#141e30, #243b55);
            min-height: 100vh;
        }
            body::before {
                content: '';
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                pointer-events: none;
                animation: laserEffect 2s infinite linear;
                border: 3px solid #03e9f4;
                border-radius: 20px;
                z-index: 999;
            }

        @@keyframes laser {
            0% {
                background-position: 100% 0;
            }

            100% {
                background-position: -100% 0;
            }
        }

        .container {
            width: 100% !important;
            height: 100% !important;
            max-width: 90% !important;
            width: 100% !important;
            margin: 0 auto !important;
            color: #03e9f4;
        }

        .navbar {
            width: 100% !important;
            box-shadow: 0 1px 4px rgb(146 161 176 / 15%) !important;
        }

        .nav-container {
            display: flex !important;
            justify-content: space-between !important;
            align-items: center !important;
            height: 62px !important;
        }

        .navbar .menu-items {
            display: flex !important;
        }

        .navbar .nav-container li {
            list-style: none !important;
        }

        .navbar .nav-container a {
            display: inline-block;
            padding: 10px 20px;
            color: #03e9f4;
            font-size: 14px;
            text-decoration: none;
            text-transform: uppercase;
            border: none;
            outline: none;
            background: transparent;
            transition: background 0.5s, color 0.5s;
            margin-top: 20px;
            letter-spacing: 4px;
            cursor: pointer;
        }

            .navbar .nav-container a:hover {
                background: #03e9f4;
                color: #fff;
                border-radius: 5px;
                box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
            }

        .nav-container {
            display: block !important;
            position: relative !important;
            height: 60px !important;
        }

            .nav-container .checkbox {
                position: absolute !important;
                display: block !important;
                height: 32px !important;
                width: 32px !important;
                top: 20px !important;
                left: 20px !important;
                z-index: 5 !important;
                opacity: 0 !important;
                cursor: pointer !important;
            }

            .nav-container .hamburger-lines {
                display: block !important;
                height: 26px !important;
                width: 32px !important;
                position: absolute !important;
                top: 17px !important;
                left: 20px !important;
                z-index: 2 !important;
                display: flex !important;
                flex-direction: column !important;
                justify-content: space-between !important;
            }

                .nav-container .hamburger-lines .line {
                    display: block !important;
                    height: 4px !important;
                    width: 100% !important;
                    border-radius: 10px !important;
                    background: #03e9f4 !important;
                }

                .nav-container .hamburger-lines .line1 {
                    transform-origin: 0% 0% !important;
                    transition: transform 0.4s ease-in-out !important;
                }

                .nav-container .hamburger-lines .line2 {
                    transition: transform 0.2s ease-in-out !important;
                }

                .nav-container .hamburger-lines .line3 {
                    transform-origin: 0% 100%;
                    transition: transform 0.4s ease-in-out !important;
                }

        .navbar .menu-items {
            position: absolute;
            top: 60px;
            box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5) !important;
            height: 100vh !important;
            width: 100% !important;
            transform: translate(-150%) !important;
            display: flex !important;
            flex-direction: column !important;
            margin-left: -40px !important;
            padding-left: 50px !important;
            transition: transform 0.5s ease-in-out !important;
            text-align: center !important;
            z-index: 999;
            color: #ffffff !important;
        }

            .navbar .menu-items li {
                margin-bottom: 1.2rem !important;
                font-size: 1.4rem !important;
                font-weight: 500 !important;
            }

        .logo {
            position: absolute !important;
            top: 5px !important;
            right: 15px !important;
            font-size: 1.2rem !important;
            color: #03e9f4 !important;
        }

        .nav-container input[type="checkbox"]:checked ~ .menu-items {
            transform: translateX(0) !important;
        }

        .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
            transform: rotate(45deg) !important;
        }

        .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
            transform: scaleY(0) !important;
        }

        .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
            transform: rotate(-45deg) !important;
        }

        .nav-container input[type="checkbox"]:checked ~ .logo {
            display: none !important;
        }

        .modal-dialog.modal-dialog-centered {
            display: flex;
            position: absolute;
            width: 50%;
            height: 50%;
            left: 40%;
            justify-content: center;
            align-items: center;
        }

        .textarea {
            padding: 10px !important;
            border: 1px solid #ccc !important;
            border-radius: 4px !important;
            margin-bottom: 1rem !important;
        }
    </style>
</head>
<body style="background-color: #1a2740">
    <body>
    <nav>
        <div class="navbar">
            <div class="container nav-container">
                <input class="checkbox" type="checkbox" id="menu-toggle" />
                <div class="hamburger-lines">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                </div>
                <div class="logo">
                     <h1 style="font-family: sans-serif ">IoT Management System</h1>
                </div>
                <div class="menu-items">
                    @{
                        string UserType = Session["UserType"] as string;
                    }
                    <li><i class="fa-solid fa-user" aria-hidden="true"></i> @Html.ActionLink(((Session["User"] as Group20_IoT.Models.Users).GetFullName()), "ManageAccount", "Home")</li>
                    @if (UserType == "Admin" || UserType == "SuperAdmin")
                    {
                        <li><i class="fa-solid fa-users" aria-hidden="true"></i> @Html.ActionLink("User Management", "Index", "Users")</li>
                    }
                    @if (UserType == "Admin" || UserType == "Member")
                    {
                        <li><i class="fa fa-stack-overflow" aria-hidden="true"></i> @Html.ActionLink("Loan Stock", "Index", "LoanStock")</li>
                        <li><i class="fa fa-list"></i> @Html.ActionLink("My Loan Requests", "Index", "RequestLoan")</li>
                        <li><i class="fa-solid fa-boxes-packing"></i> @Html.ActionLink("My Requested Stock", "Index", "RequestStock")</li>
                    }
                    @if (UserType == "SuperAdmin")
                    {
                        <li><i class="fa-solid fa-door-open"></i> @Html.ActionLink("Room Management", "Index", "Rooms")</li>
                        <li><i class="fa-solid fa-boxes-stacked"></i> @Html.ActionLink("Storage Area Management", "Index", "StorageAreas")</li>
                    }
                    @if (UserType == "Admin" || UserType == "SuperAdmin")
                    {
                        <li><i class="fa-solid fa-archive" aria-hidden="true"></i> @Html.ActionLink("Stock Management", "Index", "Stocks")</li>
                        <li><i class="fa-solid fa-ban" aria-hidden="true"></i> @Html.ActionLink("Stock Discrepancies Management", "Index", "Discrepancy")</li>
                        <li><i class="fa-solid fa-person-walking"></i> @Html.ActionLink("Walkthrough Management", "Index", "Walkthrough")</li>
                        <li><i class="fa-solid fa-pen-to-square"></i> @Html.ActionLink("Manage Loan Requests", "Index", "ReviewLoan")</li>
                        <li><i class="fa-solid fa-file-pen"></i> @Html.ActionLink("Manage Extension Requests", "Index", "Extensions")</li>
                        <li><i class="fa-solid fa-boxes-packing"></i> @Html.ActionLink("Stock Requests Management", "Index", "RequestStock")</li>
                        <li><i class="fa-solid fa-file-invoice"></i> @Html.ActionLink("Reports","Index","Reports")</li>
                    }
                    @if (UserType == "SuperAdmin")
                    {
                        <li><i class="fa-solid fa-user-secret" aria-hidden="true"></i> @Html.ActionLink("User Tracking", "Index", "UserTracking")</li>
                    }
                    <li><i class="fa-solid fa-sign-out" aria-hidden="true"></i> @Html.ActionLink("Logout", "Logout", "Login")</li>
                </div>
            </div>
        </div>
    </nav>




    <div class="container body-content">
        <div class="wrapper">
            <div class="content" style="min-height:93vh;">

                @RenderBody()
                <div id="notification-area">
                </div>
            </div>
            <div class="footer">
                <hr />
                <p>&copy; @DateTime.Now.Year - Made with <span class="heart">&hearts;</span> by the <span class="rainbow-text">IoT Group</span></p>
            </div>
        </div>


    </div>

    <script>
        $(document).ready(function () {
            // Cache the menu items element
            var mainContent = $(".content");
            var Footer = $(".footer");

            // When the menu toggle checkbox is clicked
            $("#menu-toggle").click(function () {
                if (this.checked) {
                    // Hide the mainContent when checked
                    mainContent.css("display", "none");
                    Footer.css("display", "none");
                } else {
                    // Show the mainContent when unchecked
                    mainContent.css("display", "block"); // or "inline-block", or any other appropriate value
                    Footer.css("display", "block");
                }

            });
            var storedMessage = localStorage.getItem('notificationMessage');

            if (storedMessage) {
                notifySuccess(storedMessage);
                localStorage.removeItem('notificationMessage');
            }


        });
        function tryParseInt(value) {
            const parsedValue = parseInt(value, 10); // The second argument specifies the radix (base 10).
            if (!isNaN(parsedValue)) {
                return parsedValue;
            }
            return null; // Return null if parsing fails.
        }
        function isInteger(value) {
            return Number.isInteger(value);
        }

    </script>
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


</body>
</html>
