<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - IoT Management System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/alert-toast.css" rel="stylesheet" />
    <script src="~/Scripts/alertdialog.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Logout","Logout","Login")</li>
                </ul>
            </div>
            @if (Session["User"] != null)
            {
                <p style="color:white">Welcome, @((Session["User"] as Group20_IoT.Models.Users).GetFullName())</p>
            }
        </div>
    </nav>


    <div class="container body-content">
        <div class="wrapper">
            <div class="content">
                @RenderBody()
                <div id="notification-area">
                </div>
            </div>
            <div class="footer">
                <hr />
                <p>&copy; @DateTime.Now.Year - Made with <span class="heart">&hearts;</span> by the <span class="rainbow-text">IoT Group</span></p>
            </div>
        </div>
        

    </div>

    <script>
        function tryParseInt(value) {
            const parsedValue = parseInt(value, 10); // The second argument specifies the radix (base 10).
            if (!isNaN(parsedValue)) {
                return parsedValue;
            }
            return null; // Return null if parsing fails.
        }
        function isInteger(value) {
            return Number.isInteger(value);
        }
            $(".datepicker").datepicker({
                dateFormat: 'yy/mm/dd', 
                changeMonth: true,      
                changeYear: true,   
                maxDate: 0,
                yearRange: "-1:+0"
            }).datepicker("setDate", "0");
            $(".datepicker").attr("readonly", true);
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
