@model IEnumerable<Group20_IoT.Models.RequestLoanStock>


<table class="table text-white">
    <thead>
        <tr>
            <th>
                Reference #
            </th>
            <th>
                Stock
            </th>
            <th>
                Quantity
            </th>
            <th>
                Date Requested
            </th>
            <th>
                Loan Date
            </th>
            <th>
                Due Date
            </th>
            <th>
                Status
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock.Name) [@Html.DisplayFor(modelItem => item.Stock.StockCode)]
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @item.DateRequested.ToString("dd MMMM yyyy")
                </td>
                <td>
                    @item.FromDate.ToString("dd MMMM yyyy")
                </td>
                <td>
                    @item.DueDate.ToString("dd MMMM yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                @if (item.Status == Group20_IoT.Models.RequestLoanStock.RequestStatus.Pending)
                {
                    <td>
                        <button class="btn btn-danger cancel-button" data-id="@item.Id">Cancel</button>
                    </td>
                }
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>

