@model IEnumerable<Group20_IoT.Models.LoanStatus>
@{
    ViewBag.Title = "Accepted Loans";
}
<style>
    .card {
        width: 100% !important;
        margin-bottom: 1.7rem !important;
        background-color: #2E3842 !important;
        color: #fff !important; /* Change text color to white */
    }

    .card-header {
        background-color: #003366 !important;
        color: #fff !important; /* Change text color to white */
        text-align: center !important;
        padding: 0.75rem !important;
        font-weight: bold !important;
    }

    .card-body {
        padding: 1.25rem !important;
    }

    .btn-primary {
        display: inline-block;
        padding: 10px 20px;
        color: #03e9f4;
        font-size: 13px;
        text-decoration: none;
        text-transform: uppercase;
        border: none;
        outline: none;
        background: transparent;
        transition: background 0.5s, color 0.5s;
        margin-top: 20px;
        letter-spacing: 4px;
        cursor: pointer;
    }

        .btn-primary:hover {
            background: #03e9f4;
            color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
        }

    .cancel-button {
        background-color: #dc3545;
        color: #fff;
        border: none;
        padding: 5px 10px;
        border-radius: 3px;
        cursor: pointer;
    }

        .cancel-button:hover {
            background-color: #c82333;
        }

    /* Add white text color to the table */
    table, th, td {
        color: #fff;
    }
</style>
<div class="card">
    <div class="card-header">
        <h2>Accepted Loans</h2>
    </div>
    <div class="card-body">
        <div>
            FILTER BY ??
        </div>

        <table class="table">
            <tr>
                <th>
                    Stock Code
                </th>
                <th>
                    Stock Name
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Date Requested
                </th>
                <th>
                    Loan Date
                </th>
                <th>
                    Due Date
                </th>
                <th>
                    Loan Status
                </th>
                <th>
                    Requested For an Extension?
                </th>
                <th></th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestLoanStock.Stock.StockCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestLoanStock.Stock.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestLoanStock.Quantity)
                    </td>
                    <td>
                        @item.RequestLoanStock.DateRequested.ToString("yyyy/M/d")
                    </td>
                    <td>
                        @item.RequestLoanStock.FromDate.ToString("yyyy/M/d")
                    </td>
                    <td>
                        @item.RequestLoanStock.DueDate.ToString("yyyy/M/d")
                    </td>
                    <td>
                        @item.Status
                    </td>
                    @if (item.RequestExtension)
                    {
                        <td>Yes</td>
                    }
                    else
                    {
                        <td>No</td>
                    }
                    @if (item.Status == Group20_IoT.Models.LoanStatus.LoanStatusStock.Picked_Up || item.Status == Group20_IoT.Models.LoanStatus.LoanStatusStock.Overdue)
                    {
                        <td>
                            <button id="requestButton" data-target="#RequestModal-@item.Id" data-toggle="modal" class="btn-primary">Request An Extension</button>
                            <div class="modal fade" data-keyboard="false" data-backdrop="static" id="RequestModal-@item.Id" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <input type="button" value="&#x274C;" class="close" data-dismiss="modal" />
                                            <p class="modal-title" style="color:white">Request An Extension</p>
                                        </div>
                                        <div class="modal-body">
                                            <form id="extensionRequestForm">
                                                <div class="form-group">
                                                    <label for="extensionReason">Reason for Extension:</label>
                                                    <textarea class="form-control" id="extensionReason" rows="4" required></textarea>
                                                </div>
                                                <p>P.S. If your extension request is accepted, your Due Date for this loan will be pushed by 3 working days.</p>
                                                <p>An email will be sent to you if your extension is accepted or rejected.</p>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button id="confirmExtensionRequest" class="btn btn-primary" onclick="ExtensionRequest(@item.Id)" data-dismiss="modal">Request Extension</button>
                                            <button class="btn btn-secondary" id="Close-@item.Id" data-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    }
                    @if (item.Status == Group20_IoT.Models.LoanStatus.LoanStatusStock.Awaiting_Pickup)
                    {
                        <td>
                            <button class="cancel-button" data-id="@item.Id">Cancel</button>
                        </td>
                    }
                </tr>
            }

        </table>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {

            $(".cancel-button").on("click", function () {
            var ID = $(this).data("id");
                cancelLoan(ID);
        });

        function cancelLoan(ID) {
            $.ajax({
                url: '@Url.Action("CancelAcceptedRequest", "RequestLoan")',
                type: 'POST',
                data: { id: ID },
                dataType: 'json',
                success: function (data) {
                    localStorage.setItem('notificationMessage', data.message);
                    location.reload();
                },
                error: function () {
                    notifyError("An error occurred while cancelling the request.");

                }
            });
        }
    });
    </script>

    <script>
        function ExtensionRequest(id)
        {
            var extensionReason = document.getElementById("extensionReason").value;

            if (extensionReason.trim() === "")
            {
                notifyError("Please enter a reason for the extension.");
                return;
            }

        $.ajax({
    url: '@Url.Action("RequestExtension", "RequestLoan")',
    type: 'POST',
            data: { id: id, reason: extensionReason },
    dataType: 'json',
    success: function (data) {
        localStorage.setItem('notificationMessage', data.message);
        location.reload();
    },
    error: function () {
        notifyError("An error occurred while creating a request for an extension.");

    }
});
        }
    </script>


}
