@model IEnumerable<Group20_IoT.Models.RequestLoanStock>
@{
    ViewBag.Title = "My Loan Requests";
}
<style>
    .card {
        width: 100% !important;
        margin-bottom: 1.7rem !important;
        background-color: #2E3842 !important;
        color: #fff !important; /* Change text color to white */
    }

    .card-header {
        background-color: #003366 !important;
        color: #fff !important; /* Change text color to white */
        text-align: center !important;
        padding: 0.75rem !important;
        font-weight: bold !important;
    }

    .card-body {
        padding: 1.25rem !important;
    }

    .btn-primary {
        display: inline-block;
        padding: 10px 20px;
        color: #03e9f4;
        font-size: 13px;
        text-decoration: none;
        text-transform: uppercase;
        border: none;
        outline: none;
        background: transparent;
        transition: background 0.5s, color 0.5s;
        margin-top: 20px;
        letter-spacing: 4px;
        cursor: pointer;
    }

        .btn-primary:hover {
            background: #03e9f4;
            color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
        }
</style>
<div class="card">
    <div class="card-header">
        <h2>My Loan Requests</h2>
    </div>
    <div class="card-body">
        @Html.ActionLink("My Accepted Loan Requests", "AcceptedLoans", null, new { @class = "btn btn-primary" })

        <div>
            FILTER BY ??
        </div>

        <table class="table text-white">
            <thead>
                <tr>
                    <th>
                        Stock Code
                    </th>
                    <th>
                        Stock Name
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Date Requested
                    </th>
                    <th>
                        Loan Date
                    </th>
                    <th>
                        Due Date
                    </th>
                    <th>
                        Status
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Stock.StockCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Stock.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @item.DateRequested.ToString("dd MMMM yyyy")
                        </td>
                        <td>
                            @item.FromDate.ToString("dd MMMM yyyy")
                        </td>
                        <td>
                            @item.DueDate.ToString("dd MMMM yyyy")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        @if (item.Status == Group20_IoT.Models.RequestLoanStock.RequestStatus.Pending)
                        {
                            <td>
                                <button class="btn btn-danger cancel-button" data-id="@item.Id">Cancel</button>
                            </td>
                        }
                        <td>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section scripts
{
    <script>
        $(document).ready(function () {

            $(".cancel-button").on("click", function () {
            var ID = $(this).data("id");
                cancelLoan(ID, false);
        });

        function cancelLoan(ID) {
            $.ajax({
                url: '@Url.Action("CancelRequest", "RequestLoan")',
                type: 'POST',
                data: { id: ID },
                dataType: 'json',
                success: function (data) {
                    localStorage.setItem('notificationMessage', data.message);
                    location.reload();
                },
                error: function () {
                    notifyError("An error occurred while cancelling the request.");

                }
            });
        }
    });
    </script>


}