@model List<Group20_IoT.Models.ViewModel.UserTrackingViewModel>


<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Email
        </th>
        <th>
            Logged In
        </th>
        <th>
            Logged Out
        </th>
        <th>
            Duration
        </th>
        <th>
            User Type
        </th>
        <th>
            Used Remember Me
        </th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.LoggedIn
                </td>
                <td>
                    @item.LoggedOut
                </td>
                <td>
                    @item.Duration
                </td>
                <td>
                    @item.UserType
                </td>
                <td>
                    @item.UsedRememberMe
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="7" style="text-align:center;font-size:16px"><strong>No User Tracking Information Found!</strong></td>
        </tr>
    }
</table>
