@model Group20_IoT.Models.DefectiveStock

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DefectiveStock</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Stock.StockCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock.StockCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DefectiveCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefectiveCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DefectFound)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefectFound)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
