
@model List<Group20_IoT.Models.ViewModel.PendingLoanStockViewModel>


<table class="table text-white">
    <thead>
        <tr>
            <th>
                Reference #
            </th>
            <th>
                User
            </th>
            <th>
                User Role
            </th>
            <th>
                Stock
            </th>
            <th>
                Amount Available
            </th>
            <th>
                Quantity To Loan
            </th>
            <th>
                Date Requested
            </th>
            <th>
                Borrow Date
            </th>
            <th>
                Due Date
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td style="background-color: #2E3842; color: #fff; padding: 0.75rem;">@item.Id</td>
                    <td style="background-color: #2E3842; color: #fff; padding: 0.75rem;">@item.UserName [@item.UniNum]</td>
                    <td style="background-color: #2E3842; color: #fff; padding: 0.75rem;">@item.UserRole</td>
                    <td style="background-color: #2E3842; color: #fff; padding: 0.75rem;">@item.StockName [@item.StockCode]</td>
                    <td style="background-color: #2E3842; color: #fff; padding: 0.75rem;">@item.AmntAva</td>
                    @if (item.QuantityWant > item.AmntAva)
                    {
                        <td style="background-color: #2E3842; color: red; padding: 0.75rem;">@item.QuantityWant</td>
                    }
                    else
                    {
                        <td style="background-color: #2E3842; color: #fff; padding: 0.75rem;">@item.QuantityWant</td>
                    }
                    <td style="background-color: #2E3842; color: #fff; padding: 0.75rem;">@item.DateRequested</td>
                    <td style="background-color: #2E3842; color: #fff; padding: 0.75rem;">@item.BorrowDate</td>
                    <td style="background-color: #2E3842; color: #fff; padding: 0.75rem;">@item.DueDate</td>
                    <td style="background-color: #2E3842; color: #fff; padding: 0.75rem;">
                        <button id="acceptButton" data-target="#AcceptModal-@item.Id" data-toggle="modal" class="btn btn-primary">Accept</button>
                        <div class="modal fade" data-keyboard="false" data-backdrop="static" id="AcceptModal-@item.Id" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content" style="background-color: #2E3842; color: #fff;">
                                    <div class="modal-header">
                                        <input type="button" value="&#x274C;" class="close" data-dismiss="modal" />
                                        <p class="modal-title" style="color: #03e9f4;">Accept Loan Request</p>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to accept the loan request for @item.UserName to borrow @item.StockName?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="confirmApproval" class="btn btn-primary" onclick="AcceptLoan(@item.Id)" data-dismiss="modal">Yes</button>&nbsp;&nbsp;
                                        <button class="btn btn-primary" id="Close-@item.Id" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>
                    <td style="background-color: #2E3842; color: #fff; padding: 0.75rem;">
                        <button id="rejectButton" data-target="#RejectModal-@item.Id" data-toggle="modal" class="btn btn-primary">Reject</button>
                        <div class="modal fade" data-keyboard="false" data-backdrop="static" id="RejectModal-@item.Id" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content" style="background-color: #2E3842; color: #fff;">
                                    <div class="modal-header">
                                        <input type="button" value="&#x274C;" class="close" data-dismiss="modal" />
                                        <p class="modal-title" style="color: #03e9f4;">Reject Loan Request</p>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to reject the loan request for @item.UserName to borrow @item.StockName?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="confirmApproval" class="btn btn-primary" onclick="RejectLoan(@item.Id)" data-dismiss="modal">Yes</button>&nbsp;&nbsp;
                                        <button class="btn btn-primary" id="Close-@item.Id" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="11" style="text-align:center; font-size:16px; background-color: #2E3842; color: #fff; padding: 0.75rem;"><strong>No Pending Loan Requests</strong></td>
            </tr>
        }
        </tbody>
</table>
