
@model List<Group20_IoT.Models.ViewModel.PendingLoanStockViewModel>


<table class="table text-white">
    <thead>
        <tr>
            <th>
                Reference #
            </th>
            <th>
                User
            </th>
            <th>
                User Role
            </th>
            <th>
                Stock
            </th>
            <th>
                Amount Available
            </th>
            <th>
                Quantity To Loan
            </th>
            <th>
                Date Requested
            </th>
            <th>
                Borrow Date
            </th>
            <th>
                Due Date
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.UserName [@item.UniNum]
                    </td>
                    <td>
                        @item.UserRole
                    </td>
                    <td>@item.StockName [@item.StockCode]</td>
                    <td>
                        @item.AmntAva
                    </td>
                    @if (item.QuantityWant > item.AmntAva)
                    {
                        <td style="color:red">
                            @item.QuantityWant
                        </td>
                    }
                    else
                    {
                        <td>
                            @item.QuantityWant
                        </td>
                    }
                    <td>
                        @item.DateRequested
                    </td>
                    <td>
                        @item.BorrowDate
                    </td>
                    <td>
                        @item.DueDate
                    </td>
                    <td>
                        <button id="acceptButton" data-target="#AcceptModal-@item.Id" data-toggle="modal">Accept</button>
                        <div class="modal fade" data-keyboard="false" data-backdrop="static" id="AcceptModal-@item.Id" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <input type="button" value="&#x274C;" class="close" data-dismiss="modal" />
                                        <p class="modal-title" style="color:white">Accept Loan Request</p>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to accept the loan request for @item.UserName to borrow @item.StockName?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="confirmApproval" class="btn btn-primary" onclick="AcceptLoan(@item.Id)" data-dismiss="modal">Yes</button>
                                        <button class="btn btn-secondary" id="Close-@item.Id" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>
                    <td>
                        <button id="rejectButton" data-target="#RejectModal-@item.Id" data-toggle="modal">Reject</button>
                        <div class="modal fade" data-keyboard="false" data-backdrop="static" id="RejectModal-@item.Id" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <input type="button" value="&#x274C;" class="close" data-dismiss="modal" />
                                        <p class="modal-title" style="color:white">Reject Loan Request</p>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to reject the loan request for @item.UserName to borrow @item.StockName?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="confirmApproval" class="btn btn-primary" onclick="RejectLoan(@item.Id)" data-dismiss="modal">Yes</button>
                                        <button class="btn btn-secondary" id="Close-@item.Id" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7" style="text-align:center;font-size:16px"><strong>No Pending Loan Requests</strong></td>
            </tr>
        }
        </tbody>
</table>
