@model List<Group20_IoT.Models.ViewModel.RequestStockViewModel>


<table class="table">
    <tr>
        <th>
            User Requested
        </th>
        <th>
            Name
        </th>
        <th>
            Price
        </th>
        <th>
            Link
        </th>
        <th>
            Date Requested
        </th>
        <th>
            Approved
        </th>
        <th></th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.UserName
                </td>
                <td>
                    @item.StockName
                </td>
                <td>
                    @item.StockPrice
                </td>
                <td>
                    <a href="@item.StockLink">Link</a>

                </td>
                <td>
                    @item.RequestDate
                </td>
                <td>
                    @item.Approved
                </td>
                <td>
                    <img src="~/Content/Request/@item.StockImage" alt="@item.StockImage" style="max-height:100px;max-width:100px" />
                </td>
                <td>
                    ...
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="7" style="text-align:center;font-size:16px"><strong>Sorry, no requested stock available</strong></td>
        </tr>
    }
</table>