@model List<Group20_IoT.Models.ViewModel.RequestStockViewModel>


<table class="table text-white">
    <tr>
        <th>
            Reference #
        </th>
        <th>
            User Requested
        </th>
        <th>
            Stock
        </th>
        <th>
            Quantity
        </th>
        <th>
            Price
        </th>
        <th>
            Link
        </th>
        <th>
            Date Requested
        </th>
        <th>
            Approved
        </th>
        <th></th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.UserName [@item.UniNum]
                </td>
                <td>
                    @item.StockName
                </td>
                <td>
                    @item.Quantity
                </td>
                <td>
                    @item.StockPrice
                </td>
                <td>
                    <a href="@item.StockLink">Link</a>

                </td>
                <td>
                    @item.RequestDate
                </td>
                <td>
                    @item.Approved
                </td>
                <td>
                    <img src="~/Content/Request/@item.StockImage" alt="@item.StockImage" style="max-height:100px;max-width:100px" />
                </td>
                <td>
                    <button id="acceptButton" data-target="#AcceptModal-@item.Id" data-toggle="modal">Accept</button>
                    <div class="modal fade" data-keyboard="false" data-backdrop="static" id="AcceptModal-@item.Id" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content" style="background-color: #2E3842; color: #fff;">
                                <div class="modal-header">
                                    <input type="button" value="&#x274C;" class="close" data-dismiss="modal" />
                                    <p class="modal-title" style="color:white">Accept Stock Request</p>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to accept this stock request?</p>
                                </div>
                                <div class="modal-footer">
                                    <button id="confirmApproval" class="btn btn-primary" onclick="AcceptStockReq(@item.Id)" data-dismiss="modal">Yes</button>
                                    <button class="btn btn-secondary" id="Close-@item.Id" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="7" style="text-align:center;font-size:16px"><strong>Sorry, no requested stock available</strong></td>
        </tr>
    }
</table>

